src/main/resources/schemas/catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog" type="catalogType"/>
  <xs:complexType name="productType">
    <xs:sequence>
      <xs:element name="manufacturer">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Indesit"/>
            <xs:enumeration value="Bosch"/>
            <xs:enumeration value="Tesla"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="model">

      </xs:element>
      <xs:element type="xs:string" name="production_date"/>
      <xs:element type="xs:string" name="color"/>
      <xs:element name="price">

      </xs:element>
      <xs:element name="stockBalance">

      </xs:element>
      <xs:element name="name">

      </xs:element>
      <xs:element name="id">

      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subCategoryType">
    <xs:sequence>
      <xs:element type="productType" name="product" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="categoryType">
    <xs:sequence>
      <xs:element type="subCategoryType" name="subCategory" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name"/>
  </xs:complexType>
  <xs:complexType name="catalogType">
    <xs:sequence>
      <xs:element type="categoryType" name="category"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>